# Follow along Tutorial on Pandas from Kaggle

In [2]:
import pandas as pd

In [6]:
# Creating a DataFrame
df = pd.DataFrame({'Yes': [50, 21, 5, 10], 'No': [131, 2, 8, 6]})

In [7]:
df

   Yes   No
0   50  131
1   21    2
2    5    8
3   10    6

In [8]:
df['No'][2]

8

In [9]:
# Locating rows
df.iloc[3]

Yes    10
No      6
Name: 3, dtype: int64

In [11]:
# Skip first row
df.iloc[1:4]

   Yes  No
1   21   2
2    5   8
3   10   6

In [12]:
#Get data from No column
df.iloc[:, 1]

0    131
1      2
2      8
3      6
Name: No, dtype: int64

In [14]:
#Row 2 and 3, first column
df.iloc[2:4, 0]

2     5
3    10
Name: Yes, dtype: int64

In [15]:
df.describe()

             Yes          No
count   4.000000    4.000000
mean   21.500000   36.750000
std    20.141168   62.882828
min     5.000000    2.000000
25%     8.750000    5.000000
50%    15.500000    7.000000
75%    28.250000   38.750000
max    50.000000  131.000000

In [17]:
df.max()

Yes     50
No     131
dtype: int64

In [16]:
df.min()

Yes    5
No     2
dtype: int64

In [20]:
df.mean()

Yes    21.50
No     36.75
dtype: float64

In [19]:
df.var()

Yes     405.666667
No     3954.250000
dtype: float64

In [18]:
df.std()

Yes    20.141168
No     62.882828
dtype: float64

In [21]:
df

   Yes   No
0   50  131
1   21    2
2    5    8
3   10    6

In [22]:
df['Yes'].value_counts()

5     1
21    1
10    1
50    1
Name: Yes, dtype: int64

In [23]:
df['Yes'].unique()

array([50, 21,  5, 10], dtype=int64)

In [24]:
df.value_counts()

Yes  No
50   131    1
21   2      1
10   6      1
5    8      1
dtype: int64

In [5]:
# DataFrame with strings
bobsal = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sally': ['Pretty good.', 'Bland.']})

             Bob         Sally
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [26]:
# Adding an index of the rows
bobsal = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sally': ['Pretty good.', 'Bland.']}, index = ['Product A', 'Product B'])

In [27]:
bobsal

                     Bob         Sally
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [29]:
#Series - a single column of a DataFrame
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
# Series with an index of names 
pd.Series([30, 35, 40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
# Reading a csv file with Pandas
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

# The convention is for the filepath to show the directory 2 folders above the working file. (As per Matt B)

In [3]:
# Will try with wine quality csv file
wine_quality = pd.read_csv('winequality_merged.csv')

In [ ]:
# Can check the shape of the working file with
wine_reviews.shape

In [5]:
wine_quality.shape

(6497, 13)

In [ ]:
# View top 5 rows with .head()
wine_reviews.head()

In [7]:
wine_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [ ]:
# Can have pandas use the index already within the file with index_col=0
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

In [8]:
wine_quality = pd.read_csv('winequality_merged.csv', index_col=0)

In [9]:
#Doesn't already have an index column... need pandas index
wine_quality

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
fixed acidity,,,,,,,,,,,,
7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [10]:
wine_quality = pd.read_csv('winequality_merged.csv')
wine_quality

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [35]:
#accessing columns
reviews.country

#gives the same information as:
reviews['country']

NameError: name 'reviews' is not defined

In [11]:
wine_quality.chlorides

0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
6492    0.039
6493    0.047
6494    0.041
6495    0.022
6496    0.020
Name: chlorides, Length: 6497, dtype: float64

In [12]:
wine_quality['chlorides']

0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
6492    0.039
6493    0.047
6494    0.041
6495    0.022
6496    0.020
Name: chlorides, Length: 6497, dtype: float64

In [ ]:
# Can then target specific values within that column using another index
reviews['country'][0]

In [14]:
wine_quality['chlorides'][4]

0.076

In [16]:
wine_quality['chlorides'][6490:]

6490    0.038
6491    0.032
6492    0.039
6493    0.047
6494    0.041
6495    0.022
6496    0.020
Name: chlorides, dtype: float64